.navbar {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  font-weight: bold;
}

.navbar li {
  margin-bottom: 0.5rem;
  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
}

.navbar span {
  padding: 0 1rem;
}

.navbar-homelink {
  font-size: 1.25rem;
  font-weight: 700;
}
