.NavBar ul {
  padding-inline-start: 0px;
}

.NavBar ul span {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .NavBar ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .NavBar ul span {
    display: inline;
  }
}

.NavBar li {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.NavBar span {
  padding: 0 1rem;
}
