.NavBar {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.NavBar li {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.NavBar span {
  padding: 0 1rem;
}

.NavBar-homelink {
  font-size: 1.25rem;
  font-weight: 700;
}
