html {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(156, 144, 255) 70%
  );
  min-height: -webkit-fill-available;
}

body {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

h1 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-block-start: 0.125rem;
  margin-block-end: 0.125rem;
}

@media only screen and (min-width: 800px) {
  div.sp-editor.custom-editor {
    height: 500px;
  }

  div.sp-preview.custom-preview {
    height: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }

  div.sp-editor.custom-editor {
    height: 700px;
  }

  div.sp-preview.custom-preview {
    height: 700px;
  }
}

a {
  text-decoration: none;
  color: #590099;
}

a:hover {
  color: #9000ff;
}

.BackToHomeLink {
  display: block;
  margin-top: 0.5rem;
}

.MuiTreeView-root .MuiTreeItem-root .MuiTreeItem-content {
  padding-left: 0px;
}

.MuiTreeItem-root .MuiTreeItem-content .MuiTreeItem-label {
  font-size: 1.25rem;
}
